@use '../abstract' as *;

.block_header{
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-top: 1px solid $clr-dark;
    border-bottom: 1px solid $clr-dark;
    @include flex(space-between,center);

    h2{
        margin-bottom: 0;
    }
    a{
        opacity: 0.5;
        &:hover{
            text-decoration: underline;

        }
    }
}